button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
button {
    background: none;
    border: 3px solid black;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin: 1px 0px 1px 0px;
    padding: 8px 10px;
    position:relative;
    outline : 0px;
  }

button::before,
button::after {
  background: #000000;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
    color: #ffffff;
    background: #000000;
  }
  
  /* BUTTON 1 */
.personalData::after,.usedLanguage::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.personalData:hover:after,.usedLanguage:hover:after {
    height: 100%;
  }