.A2button,.A3button{
    padding: 15px 30px;
    border:0px;
    color: #d9cbb3;
    text-align: center; 
    background: transparent;
    display: inline-block;
}

.A1button{
    padding-left: 70px;
}